body{
    border-left: 1px solid;
    border-top: 1px solid;
    height: 750px;
}
.s1{
    border: 1px solid blue;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 5px;
}
.s1 img{
    border: 1px solid black;
    width: 180px;
    height: auto;
    margin: 10px;
}
