body{
    width: 80%;
    height: 750px;
    margin: 0 auto;
}
.s1{
    width: 40%;
    height: 20px;
    background-color: aquamarine;
}
.s2{
    width: 25%;
    position: absolute;
    left: 42%;
    top: 0px;
    background-color: #E7EEF4;
}
.s3{
    width: 35%;
    position: absolute;
    left: 55%;
    top: 0px;
    background-color: aquamarine;
}
.s1,.s2,.s3{
    font-size: 15px;
    color: black;
    height: 20px;
}
.s4{
    position: relative;
    width: 120px;
    height: 80px;
    float: left;
}
.s4 img{
    width: 120px;
    height: 80px;
}
.s5{
    position: relative;
    left: 121px;
    width: 89%;
    height: 80px;
    background-color: greenyellow;
    margin-left: 5px;
}
.s6{
    position: absolute;
    float: left;
    height: 200px;
    width: 8.4%;
    background-color: pink;
    font-size: 10px;
}
.s7{
    position: absolute;
    float: left;
    height: 200px;
    width:40% ;
    background-color:greenyellow;
    margin-left: 8.68%;
}
.s8{
    position: absolute;
    float: left;
    height: 200px;
    width:20% ;
    background-color:pink;
    margin-left: 49%;
}
.s9{
    position: absolute;
    float: left;
    height: 200px;
    width:31%;
    margin-left: 70%;
}
.s9 img{
    height: 200px;
    width: 31%;
}